{
  "singleQuote": true,
  "semi": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "endOfLine": "auto",
  "printWidth": 150,
  "bracketSpacing": false,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "strict",
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": false
}
