<!DOCTYPE html>
<html>
<head>
  <title><%= productName %></title>

  <meta charset='utf-8'>
  <meta content='<%= productDescription %>' name='description'>
  <meta content='telephone=no' name='format-detection'>
  <meta content='no' name='msapplication-tap-highlight'>
  <meta content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>'
        name='viewport'>

</head>
<body>
<!-- quasar:entry-point -->
</body>
</html>
