// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --q-font-family: 'Futura', sans-serif !important;
}

.standard-font {
  font-family: 'Rokkitt', serif;
}

.cursive-font {
  font-family: 'Sigmar One', cursive;
}

.title-font {
  font-family: 'Permanent Marker', cursive;
  font-size: 22px;
}

.mono-font {
  font-family: 'Courier Prime', monospace;
}
