// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --q-font-family: 'Futura', sans-serif !important;
}

.standard-font {
  font-family: 'Futura', sans-serif;
}

.cursive-font {
  font-family: 'Sigmar One', sans-serif;
}

.title-font {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 22px;
}

.break-word {
  word-break: break-word;
  white-space: normal;
}

.background-image {
  background-image: var(--background-image) !important;
}
